@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Raleway;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

/*------------------------------header--------------------------------*/
.header {
  background: #E1EDE6;
  padding: 33px 0px;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: inline-flex;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
}
.header__list li {
  list-style: none;
  margin: 0 0 0 60px;
}
.header__link {
  color: #2C2D35;
  text-decoration: none;
  transition: all 0.5s ease;
}
.header__link:hover {
  color: #598D66;
}
.header__link:focus {
  background: #D4E8D9;
}
.header__link:active {
  color: rgb(55, 107, 68);
}

.logo {
  height: 35px;
  color: #598D66;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.logo__title {
  width: 150px;
  align-self: center;
}

.menu {
  color: #2C2D35;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
}

/*-----------------------------section реплики----------------------------------------*/
.repliki {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 70px;
}
.repliki__pic {
  width: 100%;
  max-width: 540px;
  display: block;
}
.repliki__pic img {
  width: 100%;
}
.repliki__content {
  width: 100%;
  max-width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.repliki__title {
  color: #2C2D35;
  font-family: Raleway;
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 20px;
}
.repliki__title span {
  color: rgb(89, 141, 102);
}
.repliki__text {
  color: #86928B;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 60px;
}
.repliki__btn {
  align-self: self-start;
}

.btn {
  border: 1px solid rgb(89, 141, 102);
  height: 65px;
  padding: 20px 60px;
  color: rgb(89, 141, 102);
}
.btn:hover {
  cursor: pointer;
  background: #598D66;
  color: #F4F6F5;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.btn:focus {
  cursor: pointer;
  border: 1px solid #598D66;
  background: #D4E8D9;
  color: #598D66;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.btn:active {
  background: #376B44;
  color: #FFF;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
}
.btn--yellow {
  color: #2C2D35;
  background: #EEDB6D;
  border: none;
}
.btn--yellow:hover {
  background: #FAEB97;
  color: #2C2D35;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
}
.btn--yellow:focus {
  border: 1px solid #A38314;
}
.btn--yellow:active {
  background: #D9B949;
  display: inline-flex;
  height: 65px;
}

/*-------------------------------------section репродукции-------------------------------*/
.reproduction {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.reproduction__title {
  color: rgb(44, 45, 53);
}
.reproduction__list {
  display: flex;
}
.reproduction__list li {
  list-style: none;
  margin: 0 0 0 32px;
}
.reproduction__link {
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgb(212, 232, 217);
  border-radius: 20px;
  transition: all 0.7s ease;
}
.reproduction__link:hover {
  color: white;
  background-color: rgb(55, 107, 68);
}

.h2 {
  font-family: Raleway;
  font-size: 40px;
  font-weight: 500;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-bottom: 50PX;
}

.card {
  padding: 20px 20px 30px 20px;
  background-color: #E1EDE6;
  display: flex;
  flex-direction: column;
}
.card__img {
  width: 100%;
  margin-bottom: 20px;
}
.card__autor {
  color: #86928B;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 10px;
}
.card__title {
  color: #2C2D35;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}
.card__material {
  color: #2C2D35;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}
.card__price {
  color: #598D66;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.collection {
  background: url(./img/collection.jpg);
  background-size: cover;
  background-position: center;
  padding: 70px 20px;
  margin-bottom: 70px;
}

.new-collections {
  width: 100%;
  max-width: 540px;
  display: flex;
  flex-direction: column;
}
.new-collections__icon {
  display: block;
}
.new-collections__title {
  display: flex;
  align-items: center;
  gap: 20px;
}
.new-collections__name {
  color: #F4F6F5;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 20px;
}
.new-collections__text {
  color: #FFF;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 60px;
}
.new-collections__btn {
  align-self: self-start;
}

/*-------------------------------sectionGroup--------------------------*/
/*-----------------------------------footer-------------------------*/
.footer {
  background: #E1EDE6;
  padding: 23px 20px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__txt {
  display: flex;
  align-items: center;
}
.footer__menu {
  display: flex;
  gap: 60px;
}
.footer__menu_list {
  color: #2C2D35;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
}
.footer__menu_list li {
  margin-bottom: 6px;
  list-style: none;
}
.footer__menu_list li a {
  text-decoration: none;
  color: #86928B;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
}
.footer__phone {
  margin-top: 35px;
  text-decoration: none;
  color: #2C2D35;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
  text-align: end;
}
.footer__desc {
  margin-top: 10px;
  color: #86928B;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
}
.footer__social {
  display: flex;
  flex-direction: column;
}

.social__list {
  display: flex;
  gap: 30px;
}
.social__list li {
  margin-bottom: 6px;
  list-style: none;
}
.social__list p {
  color: #86928B;
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

@media (max-width: 768) {
  .container {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 0 10px;
  }
}/*# sourceMappingURL=style.css.map */